.wmagik_word {
	-moz-transition: width 1.2s;
	-o-transition: width 1.2s;
	-webkit-transition: width 1.2s;
	transition: width 1.2s;
	display: inline-block;
	position: relative;
	white-space: nowrap;
}

.wmagik_word .wmagik_out, .wmagik_word .wmagic_in {
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: both;
	-moz-animation-duration: 1s;
	-moz-animation-timing-function: ease;
	-moz-animation-fill-mode: both;
	-ms-animation-duration: 1s;
	-ms-animation-timing-function: ease;
	-ms-animation-fill-mode: both;
	display: inline-block;
	position: relative;
}

.wmagik_word .wmagik_out {
	left: 0;
	top: 0;
	position: absolute;
	display: inline-block;
}
.wmagik_word .wmagik_out span {
	width: auto;
	position: relative;
}
